.ingredients-logo{
    position: absolute;
    top: 20px;
left: 50%;
transform: translateX(-50%);
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
}

 .brand-links{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    justify-content: center;
    font-size: 16px;
 }

a{
    color: black;
    text-decoration: none;
   
}


.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}





header {
      background: rgb(246, 167, 167);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .logo {
      font-size: 1.3rem;
      font-weight: bold;
      color: #0077ff;
    }

    
    




   .hamburger, #menu-toggle, .mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .brand-links {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  #menu-toggle:checked + .hamburger + .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
  }
}













.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}


























