 .perfume-card {

border-radius: 10px; 
overflow: hidden; 
font-family: sans-serif;

} 

.perfume-card img { 
max-width: 180px;
object-fit: cover;
display: block;
height: 180px;
margin: 0 auto;
}

.perfume-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
font-weight: bold;
}

.perfume-card p {
margin-top: 5px;
/* padding-left: 30px; */
text-align: center;
    
font-size: 16px;
}



.perfume-row {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
justify-content: center;
}

.nasomatto-logo { 
     position: absolute;
    top: 20px;
left: 50%;
transform: translateX(-50%);
z-index: 100;
}

body {
    position: relative;
    margin: 0;
    padding-top: 150px;

}

.nasomatto-logo img {
    width: 185px;
    height: auto;
}

img:hover {
    filter: none;
}

a{
    color: black;
    text-decoration: none;
}

.menu{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
    font-family: sans-serif;
    
}



.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}





@media (max-width: 768px) {
  .nasomatto-logo {
   
  }
}





@media (max-width: 768px) {
  .perfume-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 15px;
  }

  .perfume-card {
    max-width: 160px;
    text-align: center;
  }

  .perfume-card img {
    max-width: 140px;
    height: auto;
  }
}





@media (max-width:768px) {
  .menu .btn {
    font-size: 14px;
    padding: 0.5em 1.2em;
  }
}