.ingredients-logo{
    position: absolute;
    top: 20px;
left: 50%;
transform: translateX(-50%);
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
}

.nasomatto{
    display: block;
    margin-top: 80px;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
}

